* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px;
    min-height: 100vh;
    background-color: orange;
}

header {
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    font-size: 2em;
    background-color: rgb(255, 94, 0);
    padding: 10px 0px 10px;
}

 nav a {
     text-decoration: none;color: white;
     color: white;
 }

 nav a:hover {
     text-decoration: underline 2px solid;
 }

 header h1 {
     font-size: 10em;
     margin: 0px;
     padding: 0px;
 }

 main {
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 form {
     transform: translateY(100px);
     display: flex;
     align-items: center;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 5px;
     padding: 22px;
     border-radius: 10px;
     background-color: rgb(255, 217, 0);
 }
 form label {
     width: 100%;position: relative;
     top: 3px;

 }

 form input {
     width: 250px;
     height: 30px;
     outline: none;
     border-radius: 3px;
     background-color: rgba(255, 115, 0, 0.144);
     border: 1px rgb(114, 93, 0) solid;
     padding: 0px 5px 0px 3px;

 }

 form input:focus {
    border: 1px rgb(136, 255, 0) solid;
     box-shadow: rgb(51, 255, 0) 0px 0px 3px 0.5px;
 }

 form button {
     background-color: rgba(255, 255, 255, 0.664);
     cursor: pointer;
     width: 100%;
     height: 50px;
     margin-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    border: 2px rgb(211, 127, 0) solid;
    border-radius: 5px;
    transition: border 0.1s, font-size 0.1s;
 }

 form button:hover {
    border: 4px rgb(211, 127, 0) solid;
 }

 form button:active {
    border: 8px rgb(211, 127, 0) solid;
    font-size: 18px;
 }